
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

output/
_output/

# Test binary, built with `go test -c`
*.test

# Text files
*.txt

# Debian folder
debian/
npv/
# Json files
*.json

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

*.json
*.db